/* Resets */
hr {
  margin-left: 0;
  max-width: 40px;
}

/* Jumbotron (hero) */
.jumbotron {
  position: relative;
  background: url(The-Escape-Background.jpg) no-repeat bottom center/cover;
}
.jumbotron:before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}


#headerNav {
    overflow: hidden;
    background-color: white;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    right:0;
    width: 100%; /* Full width */
    height: 6%;
    z-index:999;
}

#headerNav li {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    /*padding: 14px 16px;*/
    text-decoration: none;
}

#headerNav li:hover {
    background: #ddd;
    color: black;
}


.jumbotron .container {
  padding: 75px 0;
}
.jumbotron h1,
.jumbotron .lead {
  color: #fff;
}

/* Bustom button */
.btn-primary {
  background: #1096fc;
  border: 0;
}
.btn-primary:hover {
  background: #0384e5;
}

. {
  position: fixed;
}

/* Features */
.sec-features .row:nth-of-type(n+2) {
  margin-top: 160px;
}
.sec-features .row:last-of-type {
  margin-bottom: 160px;
}
.sec-features .feature-icon {
  max-width: 450px;
}

/* Testimonials */
.sec-testimonials {
  padding-top: 128px;
  padding-bottom: 128px;
}

/* Carousel */
.carousel-indicators {
  bottom: -30px;
}
.carousel-indicators li {
  background: rgba(33, 33, 33, 0.1);
}
.carousel-indicators li:focus, .carousel-indicators li:hover {
  background: rgba(33, 33, 33, 0.5);
}
.carousel-indicators .active {
  background: rgba(33, 33, 33, 0.75);
}

.carousel-control-next,
.carousel-control-prev {
  color: #212121;
}
.carousel-control-next:focus, .carousel-control-next:hover,
.carousel-control-prev:focus,
.carousel-control-prev:hover {
  color: #111;
}

/* Footer */
.footer {
  padding-top: 24px;
  padding-bottom: 24px;
  background: #212121;
}
.footer li:nth-of-type(n+2) {
  margin-left: 8px;
}
.footer a {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.5);
  transition: color .235s ease-in-out;
}
.footer a:focus, .footer a:hover {
  color: rgba(255, 255, 255, 0.25);
}


